.footer {
  background: linear-gradient(180deg, #443e48 0%, #110617 100%);
  margin-right: 0;

  .container-col {
    padding-right: 0;
  }

  .free-trial-btn {
    background-color: transparent;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 800;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    height: 60px;
  }

  .section-title {
    color: #b6b6b6;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
  }

  .section-content {
    min-height: 114px;
    p {
      margin: 0;
      color: #b6b6b6;
      font-weight: 459;
      font-size: 14px;
      line-height: 19px;
    }
    hr {
      color: #b6b6b6;
      margin: 10px 0;
    }
  }

  .terms {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 30px;
  }

  .trademark-md,
  .trademark-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #b6b6b6;
  }

  .trademark-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .footer {
    height: 23em;

    .button-col {
      padding-left: 0px;
    }

    .terms {
      margin-top: 90px;
    }

    .container-col {
      padding: 33px 20px 0 92px;
    }

    .trademark-md {
      display: none;
    }

    .trademark-lg {
      display: block;
      margin-top: 4em;
    }
  }
}
