<div class="row footer justify-content-lg-end px-3">
  <div class="col col-lg-11 container-col">
    <div class="row">
      <div class="col col-12 col-lg-2 px-0">
        <button class="btn free-trial-btn" type="button">FREE TRIAL</button>
        <p class="trademark-lg">© Datadog 2017</p>
      </div>
      <div class="col col-12 col-lg-4 offset-lg-2 mt-4">
        <div class="row section-content">
          <div class="col col-12">
            <span class="section-title">Product</span>
            <hr />
          </div>
          <div class="col col-6">
            <p>Features</p>
            <p>APM</p>
            <p>Integrations</p>
            <p>Alerts</p>
            <p>API</p>
          </div>
          <div class="col col-6">
            <p>Documentation</p>
            <p>Support</p>
            <p>Resources</p>
            <p>Security</p>
          </div>
        </div>
      </div>
      <div class="col col-6 col-lg-2 mt-4">
        <div class="row section-content">
          <div class="col col-12">
            <span class="section-title">About</span>
            <hr />
          </div>
          <div class="col">
            <p>Contact Us</p>
            <p>Partners</p>
            <p>Press</p>
            <p>Our Team</p>
            <p>Careers</p>
            <p>Legal</p>
          </div>
        </div>
      </div>
      <div class="col col-6 col-lg-2 mt-4">
        <div class="row section-content">
          <div class="col col-12">
            <span class="section-title">Social</span>
            <hr />
          </div>
          <div class="col">
            <p>Blog</p>
            <p>Espanol</p>
            <p>Japanese</p>
            <p>Instagram</p>
            <p>Twitter</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-10 terms text-center">
        <p>Terms | Privacy | Cookies</p>
      </div>
      <div class="col col-12 trademark-md text-center">
        <p>© Datadog 2017</p>
      </div>
    </div>
  </div>
</div>
